header {
  background-color: #f8f9fa;

  h1 {
    color: #ff7733;
    line-height: 0.9em;

    span {
      color: #59c9a5;
      margin-left: 20px;
    }
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  nav.navbar {
    width: 80%;
    margin: 0 auto;

    div.navbar-collapse {
      justify-content: flex-end;
    }

    .items {
      display: flex;

      .nav-link {
        text-align: center;
        color: inherit;
      }
    }
  }
}
